@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: #F5F4F1; /* Color Crema/Papel */
    --color-ink: #111111; /* Texto Negro */
    --color-border: #DEDEDE;
  }
  body {
    background-color: var(--color-bg);
    color: var(--color-ink);
    font-family: 'Montserrat', sans-serif;
  }
}

@layer components {
  .nav-link {
    @apply text-[10px] font-medium tracking-[0.2em] uppercase text-black/60 hover:text-black transition-colors;
  }
  .section-spacing {
    @apply py-20 px-6 max-w-7xl mx-auto;
  }
}
